html {
	margin: 0;
	padding: 1px 0 0;
	
	
	font-family: "Titillium web", sans-serif;
	
	background: white;
}

body {
	margin:30px auto;
	padding: 7px 30px 30px 30px;
	
	width: 860px;
	background: white;
}

body.narrow {
	width: 560px;
}

.narrow h1 {
	font-size: 0.7em;
}

.chart-container .plot{
	height: 300px;
	position: relative;
	padding-left: 40px;
}

.hidden {
	display: none;
}

.log-filter-message {
	display: none;
}

.log .log-filter-message {
	display: inline-block;
	font-style: italic;
	float: right;	
}

.chart-container {
  border-bottom: solid 1px #0d1425;
  margin-bottom: 30px;
}

.graph-form {
  max-width: 800px;

  margin: 20px auto 5px auto;
  padding: 15px 0 15px 0;
}

.graph-form .field
{
	clear:left;
	height: 40px;
}

.graph-form .field label
{
	min-width: 150px;
	padding-right: 10px;
	float: left;
}

.graph-form .right .field  label
{
	min-width: 60px;
}

.graph-form .field select {
	float: left;
	
}

.graph-form .field .ui-slider {
	width: 200px;
	float: left;
	position: relative;
	top: 5px;
}


a {
  display: inline-block;
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 2px;
  color: #0078ff
}

a:hover {
  border-bottom: dotted #0078ff 2px;
  padding-bottom: 0px;
}

.ui-tabs-nav a {
  border: none;
  padding: 0;
}

th {
  text-align: left;
}


img {
  max-width: 100%;
}

img.overview {
  display: block;
  margin: 30px;
}

.clear{
	clear: left;
}
.left, .right {
	width: 50%;
	float: left;
}
