/**
 *
 *
 */
 
html {
	border-top: solid 60px #0d1425;
	
	background: #f1f1f1;
}

body {
	border-top: solid 60px #0d1425;

	margin:-61px auto 0 auto;
	padding: 1px 30px 30px 30px;
	
	min-width: 860px;
	max-width: 1200px;
	width: auto;
	
	background: white;
}

ul.menu {
  display: block;
  margin: -61px 0 30px -20px;
  padding: 0;
  height: 60px;
}

ul.menu li {
  display: block;
  float: left;
  
  margin: 0 0 0 0;
  padding: 0;
 
  font-size: 24px;
  color: #0078ff; 

  background: white;
  height : 100%;
}

ul.menu li .inner {
  padding: 10px 20px 0 20px;
  
  display: block;
  margin: 0;
  
  height: 50px;
  width: 100%;  
  
}

ul.menu li a.inner {
  background: #0d1425;
  border: none; 
}

ul.menu li a:hover {
  border: none;
}

ul.menu li .inner span {
  color: #0d1425;
}

ul.menu li a.inner span {
  color: white;
}

.menu a:visited, 
.menu a:hover, 
.menu a:link,
.menu a:active
{
  color: #0078ff;
}


/**
 * JQuery UI overrides
 */
 
.ui-corner-all, 
.ui-corner-bottom, 
.ui-corner-right, 
.ui-corner-br {
    border-bottom-right-radius: 0px;
}

.ui-corner-all, 
.ui-corner-bottom, 
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-top, 
.ui-corner-right, 
.ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all, 
.ui-corner-top, 
.ui-corner-left, 
.ui-corner-tl {
    border-top-left-radius: 0px;
}

.ui-widget-header {
    background: none repeat-x scroll 50% 50% #0d1425;
    border: none
    color: white;
    font-weight: light;
}

.ui-tabs {
    padding: 0;
    position: relative;
}

.ui-state-active a, 
.ui-state-active a:link, 
.ui-state-active a:visited {
    color: #0078ff;
    text-decoration: none;
}

.ui-state-default a, 
.ui-state-default a:link, 
.ui-state-default a:visited {
    color: #0d14;
    text-decoration: none;
}
